<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <div class="mat-toolbar-content">
        <div class="title"><a routerLink="">Milk-In-Minutes</a></div>

        <mat-nav-list class="nav-items">
          <!-- <a routerLink="/products" routerLinkActive="active"
            ><span>Products</span></a
          > -->
          <!-- <a  routerLink="/orderView" routerLinkActive="active"
            ><span>Order View Page</span></a
          > -->
          <a routerLink="/dairy-product-orders" routerLinkActive="active"
            ><span>Admin</span></a
          >
          <!-- <a
            class="login"
            
            routerLink="/login"
            routerLinkActive="active"
            ><span>Login</span></a
          > -->
        </mat-nav-list>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
