/* app.navbar.css */
.toolbar {
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgb(0 184 108);
}

.mat-toolbar-content {
  width: 90%; /* Adjusted for smaller screens */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* To evenly distribute content */
}

.title > a {
  text-decoration: none;
  color: rgb(0 184 108);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  width: 50%; /* Adjusted for smaller screens */
}

.nav-items > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

.nav-items a span {
  font-size: 20px;
  font-weight: 550;
  color: black;
  transition: color 0.3s;
}

.nav-items a span:hover {
  color: rgb(0 184 108);
}
