<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="mat-toolbar-content">
        <div class="title"><a routerLink="/home">Milk-In-Minutes</a></div>

        <mat-nav-list class="nav-items">
          <a routerLink="/products" routerLinkActive="active"
            ><span>Products</span></a
          >
          <!-- <a  routerLink="/orderView" routerLinkActive="active"
            ><span>Order View Page</span></a
          > -->
          <a routerLink="/dairy-product-requests" routerLinkActive="active"
            ><span>Dairy Product Requests</span></a
          >
          <!-- <a
            class="login"
            
            routerLink="/login"
            routerLinkActive="active"
            ><span>Login</span></a
          > -->
        </mat-nav-list>
      </div>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

    <!-- Footer Here -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
