<!-- login.component.html -->
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-content>
      <mat-card-title>Admin Access</mat-card-title>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Enter Security Code"
          [(ngModel)]="securityCode"
          type="password"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
