.products {
  margin-top: 5%;
}
.products-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.products-search-filter {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.noResults {
  margin: auto;
  height: 50vh;
  text-align: center;
  font-size: 22px;
}

/* For screens smaller than 768px (e.g., smartphones) */
@media only screen and (max-width: 767px) {
  .products {
    margin-top: 15%;
  }
  .products-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .products-search-filter {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }
}
