<mat-card class="product-card" routerLink="../orderView/{{ id }}">
  <img mat-card-image src="{{ imagePath }}" />
  <mat-card-content>
    <h1>
      {{ productName }}
      <span class="category">{{ category.toUpperCase() }}</span>
    </h1>

    <!-- <mat-card-subtitle>{{ price }}</mat-card-subtitle>
    <mat-card-subtitle>{{ category }}</mat-card-subtitle> -->
    <p class="desc">{{ description }}</p>

    <p class="price">₹{{ price }}</p>

    <button *ngIf="!isItOrderView" class="buy">BUY</button>
  </mat-card-content>
</mat-card>
