/* Styling the entire form */
.form {
  padding: 20px 10px;
  width: 90%;
  margin: auto;
  font-size: medium;
  border: none;
  outline: 0;
  background-color: white;
  border-radius: 10px;
}

.backColor {
  padding: 30px;
}

/* Adjust width of form fields for smaller screens */
#name,
#houseNoStreet,
#email,
#cityState,
#phone,
#zip {
  width: 48%;
  margin: 10px 2px;
}

/* Add this CSS for styling the total price */

.total-price {
  font-size: 1.5em;
  margin-top: 10px;
}

.error-message {
  color: red;
}

/* Style the quantity and total price section */
.quantity-totalPrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style the place order button */
.placeOrderButton {
  text-align: center; /* Center align the button */
  margin-top: 20px; /* Add margin for spacing */
}

.placeOrderButton > button {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 18px; /* Adjust font size */
  padding: 10px 40px; /* Adjust padding */
}

.input-container {
  padding: 10px;
  width: 20%;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  margin-left: 5px;
}

/* For screens smaller than 768px (e.g., smartphones) */
@media only screen and (max-width: 767px) {
  #name,
  #houseNoStreet,
  #email,
  #cityState,
  #phone,
  #zip {
    width: 100%;
    margin: 10px 0;
  }
}
